@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
    box-sizing: border-box;
    font-family: 'Roboto', Courier, monospace;
}

#banner-feed-l, #banner-feed-r, .headBanner, .headNav{
    background-color: #0000cd;  
    color: #FFFFFF;
    text-shadow: 4px 3px 0px #7A7A7A;  
}

.headBanner .headNav{
    display: flex;
    justify-content: right;
    align-items: center;
    
    
}

.headnav-left{
    position: absolute;
    left: 2rem;
}

.headNav{
    padding-right: 2rem;
}



.headNav{
    height: 4vh;  
    top: 0px;
    right: 0px;
}


.headNav-element{
    font-size: larger;
    list-style: none;
    margin-left: .5rem;
    color: white;
    
}



.pubContainer, .pub {
    height: 16vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pub-frame {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pub{    
    width: 100%;    
    height: 98%;    
    background-image: linear-gradient(to left, rgba(0,0,255,.6), rgba(0,0,255,1))
}

.txt-frame, .img-frame{
    width: 50%;
    margin-left: 1rem;

}
.img-frame > .img-pub{
    
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 50%;
    float: right;    
  
}



.pub-frame > p{
    float: right;
}

.pub-title{
    font-size: larger;
    letter-spacing: .15rem;
    
    

}

header {
    display: flex;
    align-items: center;           
    background-color: red;    
    height: 5vh;
    padding-left: 2rem;
    
    
}

header{
    color: #FFFFFF;
    text-shadow: 4px 3px 0px #7A7A7A;
}
header .left-nav{
    height: 3vh ;    
    font-size: larger;
    font-weight: bolder;
}

header nav{    
    position: absolute;
    right: 2rem;
}

header .nav-element{
    margin: .5rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

#left-nav{   
    font-size: 1.8rem;
    font-weight: bolder;
    letter-spacing: .4rem;
}

.nav-element:hover{
    background-color: #111;
    color: white;
    
}



.liElement a:hover{
    background-color: #111;
    color: white;
    height: 100%;
}

.active {
    background-color: red;
  }

.mainWrap{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.gridContainer{    
    display: grid;
    display: -ms-grid;
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-column: repeat(3, 1fr);
    grid-template-rows: 30vh 30vh;
    -ms-grid-row: 30vh 30vh;
    grid-gap: 1vw;
    
}

.gridElement{
    background-color: antiquewhite;
    border: 1px solid black;
/* adding text over images */
    position: relative;
    max-width: 100%; /* Maximum width */        

}

.gridMain {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.gridMain img {vertical-align: middle;}

.gridElement .imgCaption {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.gridMain{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-color: blue;
    
   
}

.newsCaption {
    font-size: 1.7rem;
}
.imgNews{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.body-container{
    display: flex;
    justify-content: center;
}
.body-frame{
    display: block;   
    width: 80vw; 
}

.News-list, .banner-news{
    margin-top: 1rem;   
    display: flex;
    column-gap: 10px;
}

.child, .banner-child{
    
        height: 60 vh;        
        text-align: default;
        box-sizing: border-box;
        border: 1px solid red;
        padding:2rem;
}

#news-feed, #banner-feed-l{
    width: 84%;
}

#haitian-voice, #banner-feed-r{
    width: 26%;
}
#banner-feed-l, #banner-feed-r{
    height: 1vh;
    display: flex;
    align-items: center;    
    
}

.fa-clock{    
    font-size: 1.5rem;
    margin-right:1.3rem;
}

