@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
    box-sizing: border-box;
    font-family: 'Roboto', Courier, monospace;
}

.headBanner .headNav{
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: blue;    
    
}

.headnav-left{
    position: absolute;
    left: 2rem;
}

.headNav{
    padding-right: 2rem;
}



.headNav{
    height: 4vh;  
    top: 0px;
    right: 0px;
}


.headNav-element{
    font-size: larger;
    list-style: none;
    margin-left: .5rem;
    color: white;
    
}



.pubContainer, .pub {
    height: 16vh;    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pub{
    border-color: bisque;
    width: 100%;    
    height: 98%;    
    background-image: linear-gradient(to left, rgba(0,0,255,.6), rgba(0,0,255,1))
}

header {
    display: flex;
    align-items: center;           
    background-color: red;    
    height: 5vh;
    padding-left: 2rem;
    
    
}

header .left-nav{
    height: 3vh ;    
    font-size: larger;
    font-weight: bolder;
}

header nav{    
    position: absolute;
    right: 2rem;
}

header .nav-element{
    margin: .5rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.left-nav{   
    font-size: 1.7rem;
    font-weight: bolder;
    letter-spacing: .3rem;
}

.nav-element:hover{
    background-color: #111;
    color: white;
    
}
/*
.navSecond{
    padding-right: 2vw;
    
}


.navSecond{
    margin-left: auto;    
     

}


.liElement,  a {
    display: inline;
    padding-left: 1vw;
    text-decoration: none;
    height: inherit;
    background-color: antiquewhite;
    height: 100%;
    
    
}
*/

.liElement a:hover{
    background-color: #111;
    color: white;
    height: 100%;
}

.active {
    background-color: red;
  }

.mainWrap{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}

.gridContainer{    
    display: grid;
    display: -ms-grid;
    width: 80vw;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-column: repeat(3, 1fr);
    grid-template-rows: 30vh 30vh;
    -ms-grid-row: 30vh 30vh;
    grid-gap: 1vw;
    
}

.gridElement{
    background-color: antiquewhite;
    border: 1px solid black;
/* adding text over images */
    position: relative;
    max-width: 100%; /* Maximum width */        

}

.gridMain {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.gridMain img {vertical-align: middle;}

.gridElement .imgCaption {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.gridMain{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-color: blue;
    
   
}

.newsCaption {
    font-size: 1.7rem;
}
.imgNews{
    object-fit: cover;
    height: 100%;
    width: 100%;
}